h1{
    position: absolute;
    width: 321px;
    height: 74px;
    left: 311px;
    top:1px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 74px;

    color: #FFFFFF;
}

.presentacion img{
    position: absolute;

}

.presentacion p{
    
position: absolute;
width: 365px;
height: 95px;
left: 70px;
top: 313px;

background: rgba(114, 153, 254, 0.5);
border-radius: 10px;
font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 42px;
color: #FFFFFF;
text-align: center;
}

.descripcion{
    position: absolute;
width: 960px;
height: 433px;
left: 8px;
top: 533px;

background: #7299FE;
}

.descripcion p{
    position: absolute;
width: 872px;
height: 166px;
left: 41px;
top: 115px;

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: #F8F8F8;
}

.descripcion h2{
    position: absolute;
width: 155px;
height: 41px;
left: 408px;
top: 30px;

font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 41px;

color: #1D06A7;

}

.descripcion button{
    position: absolute;
width: 187px;
height: 62px;
left: 38px;
top: 300px;

background: #D16FFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 25px;
color: #FFFFFF;
}

.cursos{
    position: absolute;
width: 960px;
height: 425px;
left: 8px;
top: 965px;
background: #9122FF;
display: flex;
justify-content: space-evenly;
}

.cursos h2{
    position: absolute;
width: 165px;
height: 41px;
left: 382px;
font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 41px;

color: #26CC4B;

}

.cursos h4{
    font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 11px;
color: #FFFFFF;


}
.cursos progress{
    width: 403px;
    height: 30px;   
}
.cursos-1{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 87px;
    left: 50px;
}
.cursos-2{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 87px;
    right: 50px;
}
.portafolio{
    position: absolute;
width: 960px;
height: 424px;
left: 8px;
top: 1389px;
background: #FFD233;
}

.portafolio h2{
    position: absolute;
width: 169px;
height: 41px;
left: 399px;
font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 41px;

color: #00AD84;
}

.section-1{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 115px;
}
    

.section-2{
    display: flex;
    flex-wrap: wrap
}

.clientes{
    
position: absolute;
width: 960px;
height: 258px;
left: 8px;
top: 1813px;
background: #3F4E62;
}

.clientes h2{
    position: absolute;
width: 141px;
height: 41px;
left: 413px;
font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 41px;

color: #ADFF28;
}


.formulario{
    position: absolute;
width: 960px;
height: 578px;
left: 8px;
top: 2071px;;
background: #1687A0;
}

.formulario h2{
    position: absolute;
width: 157px;
height: 41px;
left: 406px;
font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 41px;

color: #FF1B1B;

}

.clientes-1{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top:100px;
}

.nombre{
    position: absolute;
    width: 363px;
    height: 53px;
    left: 100px;
    top: 92px;
    background: #FFFFFF;
    border: 1px solid #BFBFBF;
}
.apellido{

    position: absolute;
    width: 363px;
    height: 53px;
    right: 100px;
    top: 92px;
    background: #FFFFFF;
    border: 1px solid #BFBFBF;

}

.email{
    position: absolute;
    width: 363px;
    height: 53px;
    left: 100px;
    top: 174px;
    background: #FFFFFF;
    border: 1px solid #BFBFBF;
}

.telefono{
    position: absolute;
    width: 363px;
    height: 53px;
    right: 100px;
    top: 174px;;
    background: #FFFFFF;
    border: 1px solid #BFBFBF;
}

.texto{
    
position: absolute;
width: 759px;
height: 112px;
left: 100px;
top: 251px;
background: #FFFFFF;

}

.enviar{
    
position: absolute;
width: 167px;
height: 56px;
left: 396px;
top: 400px;
background: #233451;
font-family: Arial;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
}